<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export PDF</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        html {
            zoom: 0.75;
        }
    </style>
</head>
<body>
    <div class="container">       
        <h1 class="text-center mb-5">Product Report</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>UnitStock</th>
                </tr>
            </thead>
            <tbody>
                <% if (products.length > 0) { %>
                    <% products.forEach(product => {%>
                    <tr>
                        <td><%=product.ProductID%></td>
                        <td><%=product.ProductName%></td>
                        <td><%=product.category[0].CategoryName%></td>
                        <td><%=product.UnitPrice%></td>
                        <td><%=product.UnitInStock%></td>
                    </tr>
                    <%})%>
                <% }%>
            </tbody>
        </table>
    </div>
</body>
</html>